html,body{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(24, 33, 45);
}


img {
    max-width: 100%;
    height: 3cm;
    
}

/* layout */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}
header{
    align-items: center;
    font-size: xx-large;
}

main{
    background-color: #F1FF52;
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
    padding-bottom: 7rem;
}
.site-head{
    background-color: rgb(50, 68, 91);
}
a{
    color: black;
}